input[type='checkbox'],
input[type='radio']{
	background: none; 
	opacity: 0;
}

.mask-checkbox,
.mask-radio{
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.checkbox-text{
    display: inline-block !important;
    vertical-align: sub;
    margin-top: 5px;
    margin-left: 3px;
}

input[type='checkbox'] ~ i.icon,
input[type='radio'] ~ i.icon{
    position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	float: left;
	width: 14px;
	height: 16px;
}

input[type='checkbox'],
input[type='radio']{ 
	position: absolute;
	z-index: 10;
	margin: 0;
}

.mask-radio,
.mask-checkbox{ 
    position: relative;
	z-index: 3;
}

/*Checkbox*/

input[type='checkbox'] ~ i.icon{
	background: url("../images/checkbox.png") no-repeat center left;
}

input[type='checkbox']:checked ~ i.icon{
	background: url("../images/checkbox-active.png") no-repeat center left;
}

input[type='checkbox']:focus ~ i.icon{
	background: url("../images/checkbox-focus.png") no-repeat center left;
}

input[type='checkbox']:checked:focus ~ i.icon{
	background: url("../images/checkbox-checked-focus.png") no-repeat center left;
}

input[type='checkbox']:disabled ~ i.icon{
	background: url("../images/checkbox-disabled.png") no-repeat center left;
}

input[type='checkbox']:checked:disabled ~ i.icon{
	background: url("../images/checkbox-checked-disabled.png") no-repeat center left;
}

/*Radiobutton*/

input[type='radio'] ~ i.icon{
	//background: url("images/radio-button.png") no-repeat center left;
}

input[type='radio']:checked ~ i.icon{
	background: url("images/radio-checked.svg") repeat-x center;
}

input[type="submit"]{
    font-family: 'BMK', Arial, sans-serif;
    font-size: 16px;
    outline: 0;
    background-color: transparent;
    
    border: 5px solid transparent;
    border-image: url('images/line.png') 10;
    
    cursor: pointer;
    
}
