input[type='checkbox'],
input[type='radio']{
	background: none;
	opacity: 0;
}

.mask-checkbox,
.mask-radio{
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.checkbox-text{
    display: inline-block !important;
    vertical-align: sub;
    margin-top: 5px;
    margin-left: 3px;
}

input[type='checkbox'] ~ i.icon,
input[type='radio'] ~ i.icon{
    position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	float: left;
	width: 14px;
	height: 16px;
}

input[type='checkbox'],
input[type='radio']{
	position: absolute;
	z-index: 10;
	margin: 0;
}

.mask-radio,
.mask-checkbox{
    position: relative;
	z-index: 3;
}

/*Checkbox*/

input[type='checkbox']:checked ~ i.icon {
    background: url("images/radio-checked.svg") repeat-x center
}
input[type='checkbox']:checked ~ i.icon.wrong {
    background: url("images/radio-checked-wrong.svg") repeat-x center
}

/*Radiobutton*/

input[type='radio'] ~ i.icon{
	//background: url("images/radio-button.png") no-repeat center left;
}

input[type='radio']:checked ~ i.icon{
	background: url("images/radio-checked.svg") repeat-x center;
}

input[type='radio']:checked ~ i.icon.wrong{
	background: url("images/radio-checked-wrong.svg") repeat-x center;
}

input[type="submit"]{
    font-family: 'BMK', Arial, sans-serif;
    font-size: 16px;
    outline: 0;
    background-color: transparent;

    border: 5px solid transparent;
    border-image: url('images/line.png') 10;
    border-image-outset: 5px;
    cursor: pointer;
}

input[type="date"]{
    padding-top: 3px !important;
}

input[type="text"],
input[type="date"]{
    background-color: transparent;
    background: url('images/input.svg') no-repeat center;
    background-size: cover;
    border: none;
    height: 30px;
    padding: 0 10px;

    &:focus{
        outline: none;
        background: url('images/input-focus.svg') no-repeat center;
    }
}

.pluginButton{
    height: 40px !important;
    width: 100px !important;
    line-height: 40px !important;
    border-radius: 20px !important;
}
